div#entries, #form {
    margin: auto;
    width: 50%;
}

.card {
    margin-bottom: 2em;
}

.card-title {
    margin-bottom: 0;
}

.date {
    font-size: 0.8em;
}

blockquote {
    margin: 0;
}

form#form {
    padding: 0 1.25em;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header p {
    margin-bottom: 0;
    margin-left: 1rem;
}

.like-button {
    width: 5rem;
    background: transparent;
    border: #939393 solid 1px;
    border-radius: 5px;
}

.like-button:hover {
    background-color: #dadada;
}